.books {
  min-height: 80vh;
  background-color: var(--darkblue);
}

.card {
  width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

.card-image-container {
  height: 290px;
  background-color: var(--bg);
}

.card-body {
  border-top: 1px solid var(--dark);
  background-color: var(--gray);
  color: var(--light);
  padding: 0.5rem 1rem;
}

.card-subtitle {
  color: #ccc;
}

.note {
  color: var(--light);
}

.line {
  border-top: 1px solid white;
  width: 100%;
}
