.footer {
  background-color: var(--bg);
  height: 10vh !important;
}

.copyright {
  color: var(--light);
}

.icon-footer {
  font-size: 1.5rem;
  color: var(--light);
}

.icon-footer:hover {
  color: white;
  transition: color 0.3s ease;
}
