.footer {
  background-color: var(--dark);
  border-top: 2px solid var(--silver);
  height: 10vh;
}

.copyright {
  color: var(--silver);
}

.icon-footer {
  font-size: 1.5rem;
  color: var(--silver);
}

.icon-footer:hover {
  color: white;
  transition: color 0.3s ease;
}
