.bg-header {
    background-color: rgba(10, 10, 10, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    height: 10vh !important;
    z-index: 1;
}

.name {
  color: var(--light);
  font-size: 1.8rem;
}

.navigation-link {
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  color: var(--light);
  padding: 5px 10px;
  transition: color 0.2s ease;
}

.navigation-link:hover,
.navigation-link:hover .icon-header {
    color: white;
  }

.icon-header {
  font-size: 1.5rem;
}
