.bg-header {
    background-color: var(--dark);
<<<<<<< HEAD
    border-bottom: 2px solid var(--silver);
    height: 10vh;
=======
>>>>>>> 081e7b7cf4ea8e423553689be10c0899bb8876ba
}

.name {
  color: var(--light);
  font-size: 2rem;
}

.navigation-link {
  text-decoration: none;
  position: relative;
  color: var(--silver);
  padding: 5px 10px;
  transition: color 0.2s ease;
}

.navigation-link:hover,
.navigation-link:hover .icon-header {
    color: white;
  }

.icon-header {
  font-size: 1.5rem;
}
