@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

:root {
  --light: #efefef;
  --bg: #A44A3F;
  --darkblue: #1e1e2f;
  --yellow: #ffcc00;
  --gray: #282c34;
  --gray2: #3e3e4e;
}

body {
  font-family: 'Lora', serif;
  background-color: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}